.main-board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.mini-board {
  display: flex;
  flex-wrap: wrap;
  width: 33.33%;
  height: 33.33%;
}

.mini-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 33.33%;
  border: 1px solid black;
  font-size: 48px;
  cursor: pointer;
}
